.item {
  display: flex;
  align-items: center;
}

.link {
  opacity: 1;
  transition: 0.2s opacity;
  margin-left: 10px;
}

.icon {
  fill: var(--inverted-primary-color);
  width: 20px;
}

.collapsed {
  .link {
    opacity: 0;
    transition: 0.2s opacity;
    width: 0;
  }
}
