.Listbox {
  position: relative;
  width: 100%;
}

.label {
  white-space: nowrap;
  color: var(--secondary-color);
}

.options {
  position: absolute;
  background: var(--listbox-bg);
  border-radius: 12px;
  box-shadow: 4px 4px 8px var(--listbox-bg);
  overflow: hidden;
  z-index: 10;

  &.top-left {
    bottom: 100%;
    right: 0;
    transform: translateY(-5px);
  }

  &.top-right {
    bottom: 100%;
    left: 0;
    transform: translateY(-5px);
  }

  &.bottom-left {
    transform: translateY(5px);
    right: 0;
  }

  &.bottom-right {
    transform: translateY(5px);
    left: 0;
  }
}

.item {
  padding: 10px 20px;
}

.active {
  background: var(--inverted-primary-color);
}

.selected {
  background: var(--inverted-secondary-color);
}

.disabled {
  opacity: 0.7;
}
