.app_blue_theme {
  --bg-color: #1065d5;
  --inverted-bg-color: #f4f7fb;
  --primary-color: #f4f7fb;
  --secondary-color: #e8e2e2;
  --inverted-primary-color: #0dafad;
  --inverted-secondary-color: #0f807f;

  //  skeleton
  --skeleton-shadow: #0a45a0;
  --skeleton-color: #327aea;

  // code
  --code-bg: #0d4da5;
}
