.app_dark_theme {
  --bg-color: #010154;
  --inverted-bg-color: #ededed;
  --primary-color: #00e800;
  --secondary-color: #00bc00;
  --inverted-primary-color: #035ad0;
  --inverted-secondary-color: #002f78;

  //  skeleton
  --skeleton-shadow: #01419e;
  --skeleton-color: #0e5ad0;

  // code
  --code-bg: #00007f;
}
