.app.light {
  --bg-color: #ededed;
  --inverted-bg-color: #010154;
  --primary-color: #002f78;
  --secondary-color: #035ad0;
  --inverted-primary-color: #00e800;
  --inverted-secondary-color: #008e00;
}
